:root {
  --primary-pink: #ff4d88;
  --accent-orange: #ff9933;
  --base-black: #111111;
  --light-bg: #fff5f7;
  --light-text: #fefefe;
  --border-color: #cccccc;
  --pink-hover: #e6396d;
  --orange-hover: #e68200;
} 